# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/dva

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/dva http://openengine.dk/code/projects/dva
darcs-dev /projects/dva fh.daimi.au.dk:/users/cgd/code/projects/dva

# dist dependencies
dist /extensions/PropertyBar/PropertyBar.dist http://openengine.dk/code/extensions/PropertyBar/PropertyBar.dist
dist /extensions/Assimp/Assimp.dist http://openengine.dk/code/extensions/Assimp/Assimp.dist
dist /extensions/HeightMap/HeightMap.dist http://openengine.dk/code/extensions/HeightMap/HeightMap.dist
dist /extensions/Boids/Boids.dist http://openengine.dk/code/extensions/Boids/Boids.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist http://openengine.dk/code/extensions/OpenGLRenderer/OpenGLRenderer.dist

# required extensions
darcs /extensions/AnimationFramework		http://openengine.dk/code/extensions/AnimationFramework
darcs /extensions/SetupHelpers           	http://openengine.dk/code/extensions/SetupHelpers
darcs /extensions/HUD                    	http://openengine.dk/code/extensions/HUD
darcs /extensions/SDL                    	http://openengine.dk/code/extensions/SDL
darcs /extensions/SDLImage               	http://openengine.dk/code/extensions/SDLImage
darcs /extensions/Sockets			http://openengine.dk/code/extensions/Sockets
darcs /extensions/CairoResource          	http://openengine.dk/code/extensions/CairoResource
darcs /extensions/OpenGLPostProcessEffects      http://openengine.dk/code/extensions/OpenGLPostProcessEffects
darcs /extensions/TGAResource            	http://openengine.dk/code/extensions/TGAResource
darcs /extensions/OBJResource            	http://openengine.dk/code/extensions/OBJResource
darcs /extensions/AccelerationStructures 	http://openengine.dk/code/extensions/AccelerationStructures
darcs /extensions/GenericHandlers 	 	http://openengine.dk/code/extensions/GenericHandlers

#dev
darcs-dev /extensions/AccelerationStructures	fh.daimi.au.dk:/users/cgd/code/extensions/AccelerationStructures
darcs-dev /extensions/AnimationFramework     	fh.daimi.au.dk:/users/cgd/code/extensions/AnimationFramework
darcs-dev /extensions/CairoResource          	fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource
darcs-dev /extensions/HUD                    	fh.daimi.au.dk:/users/cgd/code/extensions/HUD
darcs-dev /extensions/SetupHelpers           	fh.daimi.au.dk:/users/cgd/code/extensions/SetupHelpers
darcs-dev /extensions/SDL                    	fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/SDLImage               	fh.daimi.au.dk:/users/cgd/code/extensions/SDLImage
darcs-dev /extensions/Sockets		     	fh.daimi.au.dk:/users/cgd/code/extensions/Sockets
darcs-dev /extensions/TGAResource            	fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/OBJResource            	fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
#darcs-dev /extensions/OpenGLRenderer         	fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/OpenGLPostProcessEffects 	fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLPostProcessEffects
darcs-dev /extensions/GenericHandlers 	 	fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers

#sound
darcs /extensions/OpenALSoundSystem http://openengine.dk/code/extensions/OpenALSoundSystem
darcs /extensions/VorbisResource    http://openengine.dk/code/extensions/VorbisResource
darcs /extensions/MusicPlayer       http://openengine.dk/code/extensions/MusicPlayer
darcs-dev /extensions/OpenALSoundSystem fh.daimi.au.dk:/users/cgd/code/extensions/OpenALSoundSystem
darcs-dev /extensions/VorbisResource    fh.daimi.au.dk:/users/cgd/code/extensions/VorbisResource
darcs-dev /extensions/MusicPlayer       fh.daimi.au.dk:/users/cgd/code/extensions/MusicPlayer

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries

# project data
any /resources http://openengine.dk/data/animation_models.zip
any /resources http://openengine.dk/data/projects/dva/causticTexs.tgz
any /projects/dva/data http://openengine.dk/data/images/logo/small.jpg

any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Baggrund.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Baggrundbolger.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/BaggrundsBobler.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/BaggrundVariation.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Sharksound01_Master.ogg
