# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/dva

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/dva https://github.com/OpenEngineDK/projects-dva.git
git-dev /projects/dva git@github.com:OpenEngineDK/projects-dva.git

# dist dependencies
dist /extensions/PropertyBar/PropertyBar.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-PropertyBar/master/PropertyBar.dist
dist /extensions/Assimp/Assimp.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-Assimp/master/Assimp.dist
dist /extensions/HeightMap/HeightMap.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-HeightMap/master/HeightMap.dist
dist /extensions/Boids/Boids.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-Boids/master/Boids.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenGLRenderer/master/OpenGLRenderer.dist
dist /extensions/Sockets/Sockets.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-Sockets/master/Sockets.dist
dist /extensions/AccelerationStructures/AccelerationStructures.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-AccelerationStructures/master/AccelerationStructures.dist
dist /extensions/AnimationFramework/AnimationFramework.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-AnimationFramework/master/AnimationFramework.dist
dist /extensions/SetupHelpers/SetupHelpers.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-SetupHelpers/master/SetupHelpers.dist
dist /extensions/HUD/HUD.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-HUD/master/HUD.dist
dist /extensions/SDL/SDL.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-SDL/master/SDL.dist
dist /extensions/SDLImage/SDLImage.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-SDLImage/master/SDLImage.dist
dist /extensions/CairoResource/CairoResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-CairoResource/master/CairoResource.dist
dist /extensions/OpenGLPostProcessEffects/OpenGLPostProcessEffects.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenGLPostProcessEffects/master/OpenGLPostProcessEffects.dist
dist /extensions/TGAResource/TGAResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-TGAResource/master/TGAResource.dist
dist /extensions/OBJResource/OBJResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OBJResource/master/OBJResource.dist
dist /extensions/GenericHandlers/GenericHandlers.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-GenericHandlers/master/GenericHandlers.dist

#sound
dist /extensions/OpenALSoundSystem/OpenALSoundSystem.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenALSoundSystem/master/OpenALSoundSystem.dist
dist /extensions/VorbisResource/VorbisResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-VorbisResource/master/VorbisResource.dist
dist /extensions/MusicPlayer/MusicPlayer.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-MusicPlayer/master/MusicPlayer.dist

# windows libraries
# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip
# linux libraries

# project data
any /resources http://openengine.dk/data/animation_models.zip
any /resources http://openengine.dk/data/projects/dva/causticTexs.tgz

any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Baggrund.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Baggrundbolger.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/BaggrundsBobler.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/BaggrundVariation.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Sharksound01_Master.ogg

any /resources/textures http://openengine.dk/data/images/logo/small.jpg
