# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/dva

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/dva http://openengine.dk/code/projects/dva
darcs-dev /projects/dva fh.daimi.au.dk:/users/cgd/code/projects/dva

# dist dependencies
dist /extensions/PropertyBar/PropertyBar.dist http://openengine.dk/code/extensions/PropertyBar/PropertyBar.dist
dist /extensions/Assimp/Assimp.dist http://openengine.dk/code/extensions/Assimp/Assimp.dist
dist /extensions/HeightMap/HeightMap.dist http://openengine.dk/code/extensions/HeightMap/HeightMap.dist
dist /extensions/Boids/Boids.dist http://openengine.dk/code/extensions/Boids/Boids.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist http://openengine.dk/code/extensions/OpenGLRenderer/OpenGLRenderer.dist
dist /extensions/Sockets/Sockets.dist http://openengine.dk/code/extensions/Sockets/Sockets.dist
dist /extensions/AccelerationStructures/AccelerationStructures.dist http://openengine.dk/code/extensions/AccelerationStructures/AccelerationStructures.dist
dist /extensions/AnimationFramework/AnimationFramework.dist http://openengine.dk/code/extensions/AnimationFramework/AnimationFramework.dist
dist /extensions/SetupHelpers/SetupHelpers.dist http://openengine.dk/code/extensions/SetupHelpers/SetupHelpers.dist
dist /extensions/HUD/HUD.dist http://openengine.dk/code/extensions/HUD/HUD.dist
dist /extensions/SDL/SDL.dist http://openengine.dk/code/extensions/SDL/SDL.dist
dist /extensions/SDLImage/SDLImage.dist http://openengine.dk/code/extensions/SDLImage/SDLImage.dist
dist /extensions/CairoResource/CairoResource.dist http://openengine.dk/code/extensions/CairoResource/CairoResource.dist
dist /extensions/OpenGLPostProcessEffects/OpenGLPostProcessEffects.dist http://openengine.dk/code/extensions/OpenGLPostProcessEffects/OpenGLPostProcessEffects.dist
dist /extensions/TGAResource/TGAResource.dist http://openengine.dk/code/extensions/TGAResource/TGAResource.dist
dist /extensions/OBJResource/OBJResource.dist http://openengine.dk/code/extensions/OBJResource/OBJResource.dist
dist /extensions/GenericHandlers/GenericHandlers.dist http://openengine.dk/code/extensions/GenericHandlers/GenericHandlers.dist

#sound
dist /extensions/OpenALSoundSystem/OpenALSoundSystem.dist http://openengine.dk/code/extensions/OpenALSoundSystem/OpenALSoundSystem.dist
dist /extensions/VorbisResource/VorbisResource.dist http://openengine.dk/code/extensions/VorbisResource/VorbisResource.dist
dist /extensions/MusicPlayer/MusicPlayer.dist http://openengine.dk/code/extensions/MusicPlayer/MusicPlayer.dist

# windows libraries
# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip
# linux libraries

# project data
any /resources http://openengine.dk/data/animation_models.zip
any /resources http://openengine.dk/data/projects/dva/causticTexs.tgz

any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Baggrund.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Baggrundbolger.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/BaggrundsBobler.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/BaggrundVariation.ogg
any /resources/sounds http://openengine.dk/data/projects/dva/sounds/Sharksound01_Master.ogg

any /resources/textures http://openengine.dk/data/images/logo/small.jpg
